.table .btn {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600; 
    text-transform: capitalize; 
    border-radius: 5px; 
    transition: all 0.3s ease;

}

.table .btn-success {
    background-color: #28a745;
    border: none;
}

.table .btn-success:hover {
    background-color: #218838;
    color: white;
}

.table .btn-danger {
    background-color: #dc3545;
    border: none;
}

.table .btn-danger:hover {
    background-color: #c82333;
    color: white;
}

.table td .btn {
    margin-right: 5px; 
}

.table img {
    display: block;
    margin: auto; 
    border-radius: 5px;
    border: 1px solid #ddd;
}
td img {
  display: block; 
  margin-left: auto;
  margin-right: auto; 
}

td, th {
  vertical-align: middle; 
  text-align: center;
}
a{
    text-align: center;
}
.badge-small {
    font-size: 0.55rem; 
    padding: 0.25em 0.4em; 
}
