body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

.card-left {
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.form-label {
  font-weight: bold;
}

.tmbl {
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.tmbl:hover {
  background-color: #0056b3;
}
