        body {
            font-family: sans-serif;
        }
        .jumbotron {
            background-color: #E1F4F3;
            color: black;
        }

        .lead{
            text-align: center;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }

        .btn {
            margin-right: 10px;
        }

        .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s, box-shadow 0.3s; 
            background-color: #fff; 
            min-height: 400px; /* Pastikan semua card memiliki tinggi minimal */
            max-width: 350px;  /* Tentukan batas lebar agar tetap konsisten */
            margin: 0 auto;    /* Pusatkan card dalam kolom */

        }

        .card:hover {
            transform: translateY(-5px); 
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        .card-img-top {
            height: 200px; 
            width: 100%;   
            object-fit: cover;
            filter: brightness(0.8); 
        }

        footer {
            background-color: #343a40; /* Secondary color */
            color: white;
            text-align: center;
            padding: 10px;
            position: relative;
            bottom: 0;
            width: 100%;
            margin-top: 100px;
            margin-bottom: 0;
        }

        .card img {
            object-fit: cover; /* Pastikan gambar menyesuaikan area */
            height: 200px;     /* Atur tinggi gambar agar seragam */
        }
